// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-autocomplete {
  width: 100%;
}

.select2-container .select2-selection--single {
  // padding: 8px 11px;
  height: 42px;
  #select2-item_description-container {
    padding: 8px 11px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

.item-price {
  float: right;
  font-weight: bold;
}