// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-autocomplete {
  width: 100%;
  .select2-choice {
    height: 2.5em;
    padding: .5em;
    .select2-arrow {
      padding-top: .4em;
    }
  }
}